body{
    margin: 0;
    padding: 0;
    background:url(./bg.jpg);
}
.home-page{
    background: rgba(0,0, 0, 0.5);
    
    height: 1125px;
    width: 1300x;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    margin-left: 145px;
    
}
.login-container{
    height:770px;
    width:460px;
    border: 1px solid rgba(137, 136, 136, 0.145);
    background: rgba(0,0, 0, 0.8);
    margin: auto;
}
#SI{
    color: white;
    margin-left: 65px;
    margin-top: 60px;
    font-family
    :Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
#EM,#PS{
    color: white;
    font-size: medium;
    padding: 20px;
    width: 290px;
    border-radius: 5px;
    margin-left: 65px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid rgba(255, 250, 250, 0.196);
}
#SU{
    padding: 10px;
    width: 330px;
    margin-left: 65px;
    margin-top: 15px;
    background: red;
    border: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 5px;
}
h3{
    padding-top: 1px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
#BU{
    padding: 10px;
    width: 330px;
    margin-left: 65px;
    background: rgba(128, 128, 128, 0.37);
    border:grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 10px;
    border-radius: 5px;
}
#FP,#sig{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
#CB{
    padding: 17px;
    margin-left: 65px;
    margin-top: 15px;
    accent-color: rgb(255, 255, 255);
    height: 19px;
    width: 19px;
    background: black;
    border: 1px solid white;
    
}

span{
    color: azure;
    margin-left: 10px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.bottom-container{
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-top: 0px;
}
#last{
    display: flex;
    width: 100px;

}
#alli{
    display: flex;

}
#new{
    color: rgba(255, 255, 255, 0.646);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 65px;
    text-decoration: none;
}
p{
    margin-left: 65px;
    color:  rgba(255, 255, 255, 0.646);
    font-size: smaller;
    margin-right: 100px;
    margin-bottom: 100px;
}
#LM{
    color: rgba(28, 73, 236, 0.762);
    text-decoration: none;
}
#EM:hover{
    border: 1px solid white;
}
#PS:hover{
    border: 1px solid white;
}
#SU:hover{
    background: rgba(255, 0, 0, 0.845);
}
#BU:hover{
    background: rgba(128, 128, 128, 0.653);
}
#FP:hover{
    text-decoration: underline;
}
#sig:hover{
    text-decoration: underline;
}
#LM:hover{
    text-decoration: underline;
}
#CB:hover{
    accent-color: rgba(255, 255, 255, 0.416);
}
